:root {
  --font: "Poppins", sans-serif;
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--background);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5px 0;
}

.title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  color: var(--title);
}

.banner-movie {
  width: 50%;
  border: 1px solid #ffff;
  border-radius: 10px;
}

.title-movie {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 60px;

  color: var(--title);
}

#error {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 60px;

  color: var(--title);
}

.text {
  font-family: var(--font);
  font-styçe: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: var(--subtitle);
  width: 350px;
}

button {
  width: 180.98px;
  height: 47px;
  height: 3.5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 0;
  background-color: rgb(0 0 0 / 80%);
  overflow: hidden;
  width: 80%;
  height: 0;

  transition: 0.5s ease;
}

.image-container:hover .overlay {
  height: 100%;
  width: 80%;
  border: 1px solid #ffff;
  border-radius: 10px;
}

.overlay p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--title);
  line-height: 20px;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 22px;
  }
  #error {
    font-size: 14px;
  }
  .overlay p {
    font-size: 16px;
    width: 240px;
  }
}
